@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.5s ease;
  scroll-behavior: smooth;
}

@font-face {
  font-family: heading;
  src: url(../src/fonts/SixCaps-Regular.ttf);
}

@font-face {
  font-family: project;
  src: url(../src/fonts/Teko-Light.ttf);
}

::selection {
  color: #ecded5;
  background: #DF5F24;
}

h1 {
  font-size: 190px;
  font-family: heading;
  letter-spacing: 4px;
  word-spacing: 10px;
}

h3 {
  font-size: 40px;
  line-height: 70px;
}

h2 {
  font-size: 120px;
  font-family: heading;
  letter-spacing: 4px;
  word-spacing: 10px;
}

li {
  font-size: 17px;
}

.project-title {
  letter-spacing: 5px;
  font-family: project;
}

button {
  position: relative;
  width: 150px;
  height: 60px;
  overflow: hidden;
  border: 1px solid black;
  border-radius: 50px;
  padding-left: 35px;
  box-shadow: 2.9px 2.9px 2.2px rgba(0, 0, 0, 0.019),
    5.2px 5.2px 5.3px rgba(0, 0, 0, 0.023),
    7px 7px 10px rgba(0, 0, 0, 0.025),
    8.7px 8.7px 17.9px rgba(0, 0, 0, 0.024),
    11.3px 11.3px 33.4px rgba(0, 0, 0, 0.023),
    20px 20px 80px rgba(0, 0, 0, 0.02);
}

.pika {
  position: absolute;
  top: -100%;
  left: 42%;
  transition: 0.5s all;
  animation: tilt 1.1s infinite ease-in-out;
}

@keyframes tilt {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(10deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.pokeball {
  position: absolute;
  top: 25%;
  left: 10%;
  animation: rotate_4991 1s linear infinite;
}

@keyframes rotate_4991 {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

button:hover .pika {
  top: 90%;
}

button:hover .pokeball {
  animation: none;
  transform: scale(0);
}

button:hover .go {
  color: transparent;
}

.go {
  position: absolute;
  top: -10%;
  left: 44%;
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1px;
}

.pword,
.pword2 {
  position: absolute;
  font-size: 13px;
  opacity: 0;
  animation: pulse-animation_0011 1s infinite;
}

@keyframes pulse-animation_0011 {
  0% {
    transform: rotateZ(-30deg) scale(1);
  }

  50% {
    transform: rotateZ(-30deg) scale(1.1);
  }

  100% {
    transform: rotateZ(-30deg) scale(1);
  }
}

.pword {
  top: -25%;
  left: 72%;
}

.pword2 {
  top: -10%;
  left: 75%;
}

button:hover .pword,
button:hover .pword2 {
  opacity: 1;
}


@keyframes l2 {
  50% {
    filter: drop-shadow(0 0 5px #DF5F24)
  }
}

.loader {
  display: inline-flex;
  gap: 10px;
}

.loader:before,
.loader:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    linear-gradient(#222 0 0) top/100% 40% no-repeat,
    radial-gradient(farthest-side, #000 95%, #0000) 50%/8px 8px no-repeat #fff;
  animation: l7 1.5s infinite alternate ease-in;
}

@keyframes l7 {

  0%,
  70% {
    background-size: 100% 40%, 8px 8px
  }

  85% {
    background-size: 100% 120%, 8px 8px
  }

  100% {
    background-size: 100% 40%, 8px 8px
  }
}

.loader-sleepy {
  display: inline-flex;
  gap: 10px;
}

.loader-sleepy:before,
.loader-sleepy:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    linear-gradient(#222 0 0) top/100% 0% no-repeat,
    radial-gradient(farthest-side, #000 95%, #0000) 50%/8px 8px no-repeat #fff;
  animation: l9 4s infinite ease-in;
}

@keyframes l9 {
  0% {
    background-size: 100% 0%, 8px 8px;
    background-position: top, 50% 50%
  }

  80% {
    background-size: 100% 70%, 8px 8px;
    background-position: top, 50% 70%
  }

  84%,
  100% {
    background-size: 100% 0%, 8px 8px;
    background-position: top, 50% 50%
  }
}

.loaderdoi {
  display: inline-flex;
  gap: 10px;
}

.loaderdoi:before,
.loaderdoi:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #000 95%, #0000) 35% 35%/6px 6px no-repeat #fff;
  transform: scaleX(var(--s, 1)) rotate(0deg);
  animation: l6 1s infinite linear;
}

.loaderdoi:after {
  --s: -1;
  animation-delay: -0.1s;
}

@keyframes l6 {
  100% {
    transform: scaleX(var(--s, 1)) rotate(360deg);
  }
}

.loaderdoido {
  display: inline-flex;
  gap: 10px;
}

.loaderdoido:before,
.loaderdoido:after {
  content: "";
  height: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #000 95%, #0000) 35% 35%/6px 6px no-repeat #fff;
  animation: l5 3s infinite;
}

@keyframes l5 {

  0%,
  11% {
    background-position: 35% 35%
  }

  14%,
  36% {
    background-position: 65% 35%
  }

  38%,
  61% {
    background-position: 65% 65%
  }

  64%,
  86% {
    background-position: 35% 65%
  }

  88%,
  100% {
    background-position: 35% 35%
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ecded5;
}

::-webkit-scrollbar-thumb {
  background: #DF5F24;
  border-radius: 10px 10px 10px 10px;
}