@media (max-width:888px) {
    .cursor{
        display: none;
    }
}

@media (max-width:430px) {
    h1 {
        font-size: 160px;
    }

    .py-28 {
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    h3 {
        font-size: 23px;
        line-height: 42px;
    }

    h2 {
        font-size: 115px;
    }

    .text-4xl {
        font-size: 1.9rem;
    }
}

@media (max-width:362px) {
    .px-11 {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    h2 {
        font-size: 95px;
    }

    h1 {
        font-size: 130px;
    }

    h3 {
        font-size: 20px;
        line-height: 40px;
        text-align: justify;
    }
}